@import "../../scss/layout/_layout-dir";
@import "../../scss/base/_base-dir";

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
}

.group {
  position: relative;
  width: 200px;
  height: 75px;
  margin: 16px;
}

.input {
  font-family: $font-stack-body;
  border: none;
	border-bottom: 0.125rem solid $color-primary;
	width: 100%;
	height: 2rem;
	font-size: 1.0625rem;
	padding-left: 0.875rem;
	line-height: 147.6%;
	padding-top: 0.825rem;
  padding-bottom: 0.5rem;
  &:focus {
    outline: none;
    & + .label {
      top: 0;
      font-size: 0.9375rem;
      margin-bottom: 32px;
    }
  }
  &:valid + .label {
    top: 0;
    font-size: 0.9375rem;
    margin-bottom: 32px;
  }
  &:hover {
    background-color: #eaf0fb;
  }
}

.label {
  font-family: $font-stack;
  position: absolute;
	top: 0.9375rem;
	left: 0.875rem;
	line-height: 147.6%;
	color: $color-primary;
  transition: top .2s;
  
  &:valid {
    top: 0;
  }
}

.error {
  font-family: $font-stack;
  font-size: 0.9375rem;
	color: $color-error;
	letter-spacing: 0.0275rem;
	margin: 0.125rem 0.875rem;
}
